@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap&family=Montserrat:wght@600");

* {
  padding: 0px;
  margin: 0px;
}

.wrapper {
  margin: 0 auto;
}

header {
  flex-wrap: wrap;
}

header h1 {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;

  color: #000000;
}

header h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  text-transform: uppercase;

  color: #000000;
}

header p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

footer {
  width: 100%;
  margin: 100px 0 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #a9a9a9;
  text-align: center;
}

.figs-wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
}

figure .role {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
  writing-mode: vertical-rl;
}

figure figcaption {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  color: #000000;
}

.flex {
  display: flex;
}

@media screen and (min-width: 601px) {
  .wrapper {
    max-width: 1440px;
  }

  header {
    width: 100%;
    margin-top: 110px;
  }

  header > .header-1 {
    margin-left: 15%;
  }

  header > .header-2 {
    margin-left: 15%;
  }

  header h2 {
    left: 736px;
    top: 110px;
  }

  header p {
    width: 439px;
    height: 87px;

    font-size: 18px;
    line-height: 27px;
  }

  main {
    margin-top: 95px;
  }

  .figs-wrapper {
    margin: 0 200px;
  }
  .fig-wrapper {
    height: 515px;
  }

  figure img {
    width: 238px;
  }

  figure figcaption {
    margin-top: 15px;
    font-size: 18px;
    line-height: 27px;
  }
  figure .role {
    margin-left: 10px;
    font-size: 12px;
    line-height: 16px;
  }
  #profile-1 {
  }
  #profile-2,
  #profile-5 {
    margin-top: 100px;
  }
  #profile-3 {
  }
  #profile-4 {
  }
  #profile-6 {
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 375px;
    height: 1315px;
  }
  header > h1 {
    left: 12px;
    top: 17px;
  }
  header > h2 {
    left: 12px;
    top: 102px;
  }
  header > p {
    width: 333px;
    height: 87px;
    left: 12px;
    top: 139px;

    font-size: 14px;
    line-height: 21px;
  }

  footer {
    width: 226px;
    height: 18.31px;
    left: 75px;
    top: 1268px;
  }
  figure > img {
    width: 138.72px;
  }
  figure > figcaption {
    width: 140px;
    height: 18px;
    left: 0px;
    top: 205px;

    font-size: 14px;
    line-height: 21px;
  }

  figure > .role {
    width: 13px;
    height: 150px;
    left: 145px;
    top: 0px;

    font-size: 10px;
    line-height: 13px;
  }
  #profile-1,
  #profile-3,
  #profile-5 {
    position: absolute;
    left: 19px;
  }
  #profile-2,
  #profile-4,
  #profile-6 {
    position: absolute;
    left: 201.65px;
  }
  #profile-1 {
    top: 264px;
  }
  #profile-2 {
    top: 312px;
  }
  #profile-3 {
    top: 565px;
  }
  #profile-4 {
    top: 613px;
  }
  #profile-5 {
    top: 876px;
  }
  #profile-6 {
    top: 925px;
  }
}
