@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap&family=Montserrat:wght@600");

* {
  padding: 0px;
  margin: 0px;
}

.wrapper {
  margin: 0 auto;
}

header {
  flex-wrap: wrap;
}

header h1 {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;

  color: #000000;
}

header h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  text-transform: uppercase;

  color: #000000;
}

header p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

footer {
  width: 100%;
  margin: 100px 0 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #a9a9a9;
  text-align: center;
}

.figs-wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
}

figure .role {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
  writing-mode: vertical-rl;
}

figure figcaption {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  color: #000000;
}

.flex {
  display: flex;
}

@media screen and (min-width: 600px) {
  .wrapper {
    max-width: 1440px;
  }

  header {
    width: 100%;
    margin-top: 110px;
  }

  header > .header-1 {
    margin-left: 15%;
  }

  header > .header-2 {
    margin-left: 15%;
  }

  header h2 {
    left: 736px;
    top: 110px;
  }

  header p {
    width: 439px;
    height: 87px;

    font-size: 18px;
    line-height: 27px;
  }

  main {
    margin-top: 95px;
  }

  .figs-wrapper {
    margin-left: 15%;
    margin-right: 15%;
  }
  .fig-wrapper {
    height: 515px;
  }

  figure img {
    width: 238px;
  }

  figure figcaption {
    margin-top: 15px;
    font-size: 18px;
    line-height: 27px;
  }
  figure .role {
    margin-left: 10px;
    font-size: 12px;
    line-height: 16px;
  }
  #profile-2,
  #profile-5 {
    margin-top: 100px;
  }
}

@media screen and (max-width: 600px) {
  header {
    margin: 71px 12px 0;
  }
  header p {
    font-size: 14px;
    line-height: 21px;
  }
  .header-2 {
    margin-top: 40px;
  }

  main {
    margin-top: 50px;
  }
  .figs-wrapper {
    margin: 0 19px;
  }
  figure img {
    width: calc(100vw * 0.37);
    min-width: 138.72px;
  }
  figure figcaption {
    margin-top: 10px;
    font-size: 14px;
    line-height: 21px;
  }

  figure .role {
    margin-left: 6px;
    font-size: 10px;
    line-height: 13px;
  }
  #profile-2,
  #profile-4,
  #profile-6 {
    margin-top: 48px;
  }
}
